<section>
  <div class="container text-white text-capitalize">
    <div class="row g-4">
      <div
        class="col-md-4 position-relative d-flex justify-content-center align-items-center"
      >
        <div>
          <div>
            <h2 class="mb-5">
              <span class="rounded-1 p-3 fs-18" style="background: #303030">{{
                aboutData.aboutUsContent.mainTitle | translate
              }}</span>
            </h2>
            <h3 class="mb-3">
              {{ aboutData.aboutUsContent.data[0].title | translate }}
            </h3>
            <p class="text-lighter">
              {{ aboutData.aboutUsContent.data[0].description | translate }}
            </p>
          </div>
          <img
            [class]="{ 'start-0': isRTL, 'end-0': !isRTL }"
            class="position-absolute top-0 m-3"
            src="./assets/images/DownloadSection/logo-light.png"
            alt="FPICO"
          />
        </div>
      </div>
      <div class="col-md-4 d-flex justify-content-center align-items-center">
        <div>
          <video
            src="./assets/images/DownloadSection/1VF.mp4"
            autoplay
            loop
            muted
            class="video-like-image"
            preload="auto"
          ></video>
        </div>
      </div>
      <div
        class="col-md-4 position-relative d-flex justify-content-center align-items-center flex-column"
      >
        <div>
          <div class="mb-5">
            <h3 class="mb-3">
              {{ aboutData.aboutUsContent.data[1].title | translate }}
            </h3>
            <p class="text-lighter">
              {{ aboutData.aboutUsContent.data[1].description | translate }}
            </p>
          </div>
          <div>
            <h3 class="mb-3">
              {{ aboutData.aboutUsContent.data[2].title | translate }}
            </h3>
            <p class="text-lighter">
              {{ aboutData.aboutUsContent.data[2].description | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
