<section>
  <div class="container">
    <div class="row">
      <div class="col-md-4"><div></div></div>
      <div class="col-md-4">
        <div>
          <h2>about fpico</h2>
          <h3>what we stand for</h3>
          <p>
            fpico is a saudi company specializing in contracting services that
            seeks to cover all the need of society and meet all desiresat
            competitive prices and high quality
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <h2>our mission</h2>
        </div>
      </div>
    </div>
  </div>
</section>
