<section class="my-5">
  <div class="container text-capitalize">
    <div class="row g-3">
      <div
        [innerHTML]="'home.ourwork.section' | translate | safeHtml"
        class="col-lg-8"
      >
        <!-- <h2 class="mb-4">
          <span class="text-main">arrigation</span>
          <span class="text-white"> Systems</span>
        </h2>
        <div class="row">
          <div class="col-6">
            <div class="mb-3">
              <h3 class="text-white">survey</h3>
              <ul class="text-lighter m-0 ps-3">
                <li>topography survey</li>
                <li>site analysis</li>
              </ul>
            </div>
            <div class="mb-3">
              <h3 class="text-white">design</h3>
              <ul class="text-lighter m-0 ps-3">
                <li>master plan</li>
                <li>circulation & context study</li>
                <li>soft landscape</li>
                <li>plan</li>
                <li>lighting strategy</li>
                <li>3d bim modeling</li>
              </ul>
            </div>
            <div class="mb-3">
              <h3 class="text-white">operation and maintenance</h3>
              <ul class="text-lighter m-0 ps-3">
                <li>manual watering</li>
                <li>irrigation maintenance</li>
                <li>renovation & upgrade</li>
                <li>lawn planters</li>
              </ul>
            </div>
          </div>
          <div class="col-6">
            <div class="mb-5">
              <h3 class="text-white">build</h3>
              <ul class="text-lighter m-0 ps-3">
                <li>softscape</li>
                <li>hardscape</li>
                <li>water features</li>
                <li>irrigation systems</li>
                <li>civil works</li>
                <li>mep</li>
                <li>nurseries</li>
                <li>greenhouses</li>
                <li>roads</li>
              </ul>
            </div>
            <div class="mb-3">
              <h3 class="text-white">irrigation systems</h3>
              <ul class="text-lighter m-0 ps-3">
                <li>sprinklers for golf courses and stadiums</li>
                <li>low volume irrigation</li>
                <li>root irrigation systems</li>
                <li>drip irrigation</li>
              </ul>
            </div>
          </div>
        </div> -->
      </div>
      <div class="col-lg-4 d-flex justify-content-center align-items-center">
        <div class="image_holder">
          <video
            src="./assets/images/DownloadSection/3VF.mp4"
            autoplay
            loop
            muted
            class="video-like-image"
            preload="auto"
          ></video>
        </div>
      </div>
    </div>
  </div>
</section>
