<nav class="navbar navbar-expand-lg bg-transparent">
  <div class="container my-4">
    <a class="navbar-brand" href="#">
      <img src="./assets/images/my-fav.ico/favicon.svg" alt="" />
    </a>

    <div
      class="collapse navbar-collapse order-1 order-lg-0"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav m-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="text-capitalize nav-link active"
            aria-current="page"
            href="#"
            >{{ "home-navbar" | translate }}</a
          >
        </li>
        <li class="nav-item">
          <a class="text-capitalize nav-link" href="#">{{
            "projects-navbar" | translate
          }}</a>
        </li>
        <li class="nav-item">
          <a class="text-capitalize nav-link" href="#">{{
            "about-us-navbar" | translate
          }}</a>
        </li>
        <li class="nav-item">
          <a class="text-capitalize nav-link" href="#">{{
            "services-navbar" | translate
          }}</a>
        </li>
      </ul>
    </div>

    <div class="d-flex align-items-center gap-3">
      <ul
        class="list-unstyled p-0 m-0 d-none d-sm-flex social_media_links gap-2"
      >
        <li class="nav-link">
          <a href="#">
            <img
              src="./assets/images/social_media_icons/facebook.png"
              alt="fipco facebook"
            />
          </a>
        </li>
        <li class="nav-link">
          <a href="#">
            <img
              src="./assets/images/social_media_icons/instagram.png"
              alt="fipco instagram"
            />
          </a>
        </li>
        <li class="nav-link">
          <a href="#">
            <img src="./assets/images/social_media_icons/x.png" alt="fipco x" />
          </a>
        </li>
        <li class="nav-link">
          <a href="#">
            <img
              src="./assets/images/social_media_icons/snapchat.png"
              alt="fipco snapchat"
            />
          </a>
        </li>
        <li class="nav-link">
          <a href="#">
            <img
              src="./assets/images/social_media_icons/whatsapp.png"
              alt="fipco whatsapp"
            />
          </a>
        </li>
      </ul>
      <a href="#" class="btn btn-main py-2 d-block">{{
        "contactus-navbar" | translate
      }}</a>
      <select
        [(ngModel)]="selectedLanguage"
        (change)="onLanguageChange()"
        class="language-select"
      >
        <option value="en">EN</option>
        <option value="ar">AR</option>
      </select>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fa-solid fa-bars text-white fs-3"></i>
    </button>
  </div>
</nav>
