<nav class="navbar navbar-expand-lg bg-transparent">
  <div class="container my-4">
    <a class="navbar-brand" target="_blank" href="#">
      <img src="./assets/images/my-fav.ico/favicon.svg" alt="FPICO" />
    </a>

    <app-navbar-routing />

    <div class="d-flex align-items-center gap-3">
      <app-social-media-links />
      <a target="_blank" href="#" class="btn btn-main py-2 d-block">{{
        "contactus-navbar" | translate
      }}</a>
      <app-navbar-language />
    </div>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fa-solid fa-bars text-white fs-3"></i>
    </button>
  </div>
</nav>
