<section class="text-capitalize my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <header
          [class]="{ 'text-lg-end': isRTL, 'text-lg-start': !isRTL }"
          [innerHTML]="'home.partners.text' | translate"
          class="text-center"
        >
          <!-- <h2 class="text-light">
            <span class="text-main">our</span> partners
          </h2>
          <p class="text-lighter">
            our partners who contributed to the distinguished success we have
            achieved and who trusted us
          </p> -->
        </header>
      </div>
      <div
        class="col-md-8 d-flex justify-content-between mt-0 flex-column align-items-center flex-lg-row"
      >
        <div>
          <img
            src="./assets/images/parteners/1.png"
            class="d-block mb-3 mb-md-0"
            alt="FPICO"
          />
        </div>
        <div>
          <img
            src="./assets/images/parteners/2.png"
            class="d-block mb-3 mb-md-0"
            alt="FPICO"
          />
        </div>
        <div>
          <img
            src="./assets/images/parteners/3.png"
            class="d-block mb-3 mb-md-0"
            alt="FPICO"
          />
        </div>
        <div>
          <img
            src="./assets/images/parteners/4.png"
            class="d-block mb-3 mb-md-0"
            alt="FPICO"
          />
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="position-relative">
      <div class="row g-0">
        <div class="col-md-3">
          <img
            height="500px"
            class="w-100"
            src="./assets/images/DownloadSection/1.png"
            alt="FPICO"
          />
        </div>
        <div class="col-md-3 d-none d-md-block">
          <img
            height="500px"
            class="w-100"
            src="./assets/images/DownloadSection/2.png"
            alt="FPICO"
          />
        </div>
        <div class="col-md-3 d-none d-md-block">
          <img
            height="500px"
            class="w-100"
            src="./assets/images/DownloadSection/3.png"
            alt="FPICO"
          />
        </div>
        <div class="col-md-3 d-none d-md-block">
          <img
            height="500px"
            class="w-100"
            src="./assets/images/DownloadSection/4.png"
            alt="FPICO"
          />
        </div>
      </div>
      <span
        class="bg-black bg-opacity-50 position-absolute top-0 start-0 end-0 bottom-0"
      ></span>
      <div
        [innerHTML]="'home.knowmore.text' | translate"
        class="position-absolute text-center top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center text-capitalize"
      >
        <!-- <div>
          <h2 class="text-white display-5 fw-bold">
            would you like to know more about
            <span class="text-uppercase text-main fw-bold">fPICO</span>?
          </h2>
          <img src="./assets/images/DownloadSection/see_more.png" alt="FPICO" />
          <img
            class="d-block my-2"
            style="transform: translateX(85%)"
            src="./assets/images/DownloadSection/arrow.svg"
            alt="FPICO"
          />
          <div>
            <a
              style="border-radius: 5px !important"
              href="https://drive.google.com/file/d/1Jdd-B8aKXb1PdidXgPYkSVANHjljP2bz/view"
              class="btn btn-main rounded-1 px-5 py-3 btn-animation"
              target="_blank"
              rel="noopener noreferrer"
            >
              Click Here
            </a>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</section>
