<ul class="list-unstyled p-0 m-0 d-flex social_media_links gap-2">
  <li class="nav-link">
    <a target="_blank" href="#">
      <img
        src="./assets/images/social_media_icons/facebook.png"
        alt="FPICO facebook"
      />
    </a>
  </li>
  <li class="nav-link">
    <a target="_blank" href="#">
      <img
        src="./assets/images/social_media_icons/instagram.png"
        alt="FPICO instagram"
      />
    </a>
  </li>
  <li class="nav-link">
    <a target="_blank" href="#">
      <img src="./assets/images/social_media_icons/x.png" alt="FPICO x" />
    </a>
  </li>
  <li class="nav-link">
    <a target="_blank" href="#">
      <img
        src="./assets/images/social_media_icons/snapchat.png"
        alt="FPICO snapchat"
      />
    </a>
  </li>
  <li class="nav-link">
    <a target="_blank" href="#">
      <img
        src="./assets/images/social_media_icons/whatsapp.png"
        alt="FPICO whatsapp"
      />
    </a>
  </li>
  <li class="nav-link">
    <a target="_blank" href="https://www.linkedin.com/company/fpicoksa/">
      <img
        src="./assets/images/social_media_icons/linkedin.svg"
        alt="FPICO whatsapp"
      />
    </a>
  </li>
</ul>
