<ul class="list-unstyled p-0 m-0 d-flex social_media_links gap-2">
  <li class="nav-link">
    <!-- href="https://www.facebook.com/FPICO" -->
    <a target="_blank" aria-label="Visit FPICO on Facebook">
      <img
        src="./assets/images/social_media_icons/facebook.png"
        alt="Follow FPICO on Facebook"
      />
    </a>
  </li>
  <li class="nav-link">
    <!-- href="https://www.instagram.com/FPICO" -->
    <a target="_blank" aria-label="Visit FPICO on Instagram">
      <img
        src="./assets/images/social_media_icons/instagram.png"
        alt="Follow FPICO on Instagram"
      />
    </a>
  </li>
  <li class="nav-link">
    <!-- href="https://twitter.com/FPICO" -->
    <a target="_blank" aria-label="Visit FPICO on Twitter">
      <img
        src="./assets/images/social_media_icons/x.png"
        alt="Follow FPICO on Twitter"
      />
    </a>
  </li>
  <li class="nav-link">
    <!-- href="https://www.snapchat.com/add/FPICO" -->
    <a target="_blank" aria-label="Visit FPICO on Snapchat">
      <img
        src="./assets/images/social_media_icons/snapchat.png"
        alt="Follow FPICO on Snapchat"
      />
    </a>
  </li>
  <li class="nav-link">
    <!-- href="https://wa.me/FPICO" -->
    <a target="_blank" aria-label="Contact FPICO on WhatsApp">
      <img
        src="./assets/images/social_media_icons/whatsapp.png"
        alt="Message FPICO on WhatsApp"
      />
    </a>
  </li>
  <li class="nav-link">
    <a
      target="_blank"
      href="https://www.linkedin.com/company/fpicoksa/"
      aria-label="Visit FPICO on LinkedIn"
    >
      <img
        src="./assets/images/social_media_icons/linkedin.svg"
        alt="Follow FPICO on LinkedIn"
      />
    </a>
  </li>
</ul>
