@import "variables";

// // website direction
// html,
// body {
//   direction: rtl;
//   // overflow-x: hidden;
// }
body {
  background-color: #1c1c1c;
}
// cards
.card {
  // border: 1px solid transparent;
  transition: 0.5s all;
}

.rtl {
  direction: rtl;
}
.ltr {
  direction: ltr;
}
.rtl-g,
.rtl-g * {
  direction: rtl !important;
}
.card:hover {
  // box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.27);
  // border: 1px solid #334f97;
}
.drop-down-container {
  &:hover {
    .drop-down-nav {
      display: flex;
    }
  }
  .drop-down-nav {
    // box model
    width: 150px;
    display: none;
    // height: 104px;
    li {
      // other
      transition: 0.5s all;
      a {
        color: black !important;
        text-decoration: none !important;
      }
      &:hover {
        background-color: #cfcfcf;
      }
    }
  }
}

// navbar
a.nav-link {
  color: $text-light;
}
.navbar {
  a:hover,
  a.active {
    color: white !important;
  }
}
.grid .col-12 {
  flex: 0 0 auto !important;
  padding: 0.5rem !important;
  width: 100% !important;
}
@media screen and (min-width: 992px) {
  .grid .lg\:col-8 {
    flex: 0 0 auto !important;
    padding: 0.5rem !important;
    width: 66.6667% !important;
  }
}
@media screen and (min-width: 992px) {
  .grid .lg\:col-6 {
    flex: 0 0 auto !important;
    padding: 0.5rem !important;
    width: 50% !important;
  }
}
@media screen and (min-width: 992px) {
  .grid .lg\:col-4 {
    flex: 0 0 auto !important;
    padding: 0.5rem !important;
    width: 33.3333% !important;
  }
}
@media screen and (min-width: 1200px) {
  .grid .xl\:col-3 {
    flex: 0 0 auto !important;
    padding: 0.5rem !important;
    width: 25% !important;
  }
}

.Logo_Water_Mark {
  &::selection {
    background-color: none;
  }
  position: relative;
  &::after {
    &::selection {
      background-color: none;
    }
    content: "";
    display: inline-block;
    width: 53px;
    height: 52px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 16px;
    background-image: url("/assets/images/logo_light.png");
    background-size: 100% 100%;
  }
}
.Logo_youtube_Mark {
  &::selection {
    background-color: none;
  }
  position: relative;
  &::after {
    &::selection {
      background-color: none;
    }
    content: "";
    cursor: pointer;
    display: inline-block;
    width: 53px;
    height: 52px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("/assets/images/youtube.png");
    background-size: 100% 100%;
  }
}
.Logo_Water_Mark.small::after {
  width: 30px;
  height: 30px;
}
.section__title {
  color: #000;

  font-family: Cairo;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.btn-large a {
  padding-inline: 50px !important;
}

img {
  object-position: top;
}

.lightBox {
  display: flex;
  animation: lightBox_hide 0.1s 2s forwards;
}

@keyframes lightBox_hide {
  0% {
    display: flex;
  }
  100% {
    display: none;
  }
}

.p-paginator {
  direction: ltr !important;
}

.pi {
  margin-inline: 0.5rem !important;
}

.p-toast-message-content {
  align-items: start;
  .p-element.p-icon-wrapper {
    align-items: start;
    margin-left: 0.5rem;
  }
}

.hyper_link {
  text-decoration: none !important;
}

.video-like-image {
  width: 100%; /* Set the width to your preferred size */
  height: auto; /* Maintain aspect ratio */
  border-radius: 10px; /* Add rounded corners */
  // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow for depth */
  object-fit: cover; /* Ensure it behaves like an image */
  display: block; /* Adjust display behavior */
  cursor: pointer; /* Add a pointer cursor if it’s clickable */
}
