<section>
  <div class="container my-5">
    <div class="row justify-content-between">
      <div class="col-lg-5 col-xl-4">
        <div class="position-relative">
          <img
            style="height: 500px; width: 400px"
            src="./assets/images/hero/master.png"
            alt="fipco manager"
            class="position-relative z-2 mb-4 ms-4 manager_image"
          />
          <span
            style="height: 449px; width: 379px; border: 3px solid #e7bf8c"
            class="d-block border-radius-10 position-absolute bottom-0 start-0 mb-4 ms-4 z-1"
          ></span>
          <span
            style="height: 449px; width: 379px; background-color: #2b2b2b"
            class="d-block border-radius-10 position-absolute bottom-0 start-0 z-n1"
          ></span>
        </div>
      </div>
      <div class="col-lg-7 col-xl-7 mt-5 master_message">
        <div class="text-capitalize pt-2">
          <h2 class="text-light ms-0 ms-md-4">chairman messages</h2>
          <div
            class="border-radius-10 p-3 h5 position-relative z-3 manager_title"
          >
            <h3 class="text-light">
              <span class="text-main">Eng:</span> mohammed reda
            </h3>
            <p class="text-lighter mb-0">fpico chairman</p>
          </div>
          <div class="ms-0 ms-md-5">
            <h4 class="text-light">
              success is an endless journey, achieved through persistence
            </h4>
            <p class="text-lighter">
              our goals is to create a clear vision for the future while
              developing our present. yesterday, we started with one project,
              today, we have a range of major government and private projects
              built on solid foundation
            </p>
            <p class="text-lighter">
              we aim to expand globally by implementing the latest
              administrative systems in managing facilities and operations, both
              locally and regionally
            </p>
            <p class="text-lighter">
              fibco has entered a crucial phase, driven by the kingdom’s growth,
              setting new standards in contracting as a model for others. we
              remain committed to our vision, aligned with saudi arabia’s 2030
              vision under the guidance of our wise government
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
