<ul class="navbar-nav m-auto mb-2 mb-lg-0">
  <li class="nav-item">
    <a
      class="text-capitalize nav-link active"
      aria-current="page"
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >{{ "Pages.Home.navbar.navigations.home" | translate }}</a
    >
  </li>
  <li class="nav-item">
    <a
      class="text-capitalize nav-link"
      routerLink="/projects"
      routerLinkActive="active"
      >{{ "Pages.Home.navbar.navigations.projects" | translate }}</a
    >
  </li>
  <li class="nav-item">
    <a
      class="text-capitalize nav-link"
      routerLink="/about-us"
      routerLinkActive="active"
      >{{ "Pages.Home.navbar.navigations.aboutUs" | translate }}</a
    >
  </li>
  <li class="nav-item">
    <a
      class="text-capitalize nav-link"
      routerLink="/services"
      routerLinkActive="active"
      >{{ "Pages.Home.navbar.navigations.services" | translate }}</a
    >
  </li>
</ul>
