<footer class="text-capitalize">
  <div class="container py-5">
    <div class="row g-4">
      <div class="col-md-3">
        <div>
          <img src="/assets/images/my-fav.ico/favicon.svg" alt="FPICO" />
        </div>
      </div>
      <div class="col-md-3">
        <div>
          <div>
            <!-- <h2 class="text-light h5">quick links</h2>
            <ul class="list-unstyled p-0 m-0">
              <li class="text-lighter mb-2">about us</li>
              <li class="text-lighter mb-2">services</li>
              <li class="text-lighter mb-2">projects</li>
              <li class="text-lighter mb-2">contacts</li>
            </ul> -->
            <h2 class="text-light h5">
              {{ "home.footer.col01-title" | translate }}
            </h2>
            <div [innerHTML]="'home.footer.col01' | translate"></div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div>
          <!-- <h2 class="text-light h5">services</h2>
          <ul class="list-unstyled p-0 m-0">
            <li class="text-lighter mb-2">new builds</li>
            <li class="text-lighter mb-2">custom builds</li>
            <li class="text-lighter mb-2">project management</li>
          </ul> -->
          <h2 class="text-light h5">
            {{ "home.footer.col02-title" | translate }}
          </h2>
          <div [innerHTML]="'home.footer.col02' | translate"></div>
        </div>
      </div>
      <div class="col-md-3">
        <div>
          <div class="d-flex justify-content-between flex-column">
            <div>
              <h2 class="text-light h5">
                {{ "home.footer.col03" | translate }}
              </h2>
              <!-- contact us -->
              <div>
                <p class="text-lighter mb-2">
                  {{ "home.footer.num01" | translate }}
                </p>
                <p class="text-lighter mb-2">
                  {{ "home.footer.num02" | translate }}
                </p>
              </div>
              <p
                [innerHTML]="'home.footer.address' | translate"
                class="text-lighter mb-2"
              >
                <!-- king abdulaziz rd, alyasmin, riyadh 13322 -->
              </p>
            </div>
            <div class="d-flex align-items-center gap-3">
              <app-social-media-links />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-lighter text-center py-3">
    <span [innerHTML]="'home.footer.db-text' | translate"
      >all rights reserved</span
    >
    &commat;2024
    <a target="_blank" href="https://digitalbondmena.com/en"
      ><img
        src="./assets/images/footer/db.png"
        style="width: 40px"
        alt="digital bond"
    /></a>
    digital bond
  </div>
</footer>
