<footer class="text-capitalize">
  <div class="container py-5">
    <div class="row g-4">
      <div class="col-md-3">
        <div>
          <img src="/assets/images/my-fav.ico/favicon.svg" alt="FPICO" />
        </div>
      </div>
      <div class="col-md-3">
        <div>
          <div>
            <h2 class="text-light h5">
              {{ "footer.col02.title" | translate }}
            </h2>
            <ul class="list-unstyled p-0 m-0">
              <li class="mb-2">
                <a
                  class="text-decoration-none text-lighter"
                  routerLink="/about-us"
                  href="#"
                >
                  {{ "footer.col02.row01" | translate }}
                </a>
              </li>
              <li class="mb-2">
                <a
                  class="text-decoration-none text-lighter"
                  routerLink="/services"
                  href="#"
                >
                  {{ "footer.col02.row02" | translate }}
                </a>
              </li>
              <li class="mb-2">
                <a
                  class="text-decoration-none text-lighter"
                  routerLink="/projects"
                  href="#"
                >
                  {{ "footer.col02.row03" | translate }}
                </a>
              </li>
              <li class="mb-2">
                <a
                  class="text-decoration-none text-lighter"
                  routerLink="/contact-us"
                  href="#"
                >
                  {{ "footer.col02.row04" | translate }}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div>
          <h2 class="text-light h5">{{ "footer.col-3.title" | translate }}</h2>
          <ul class="list-unstyled p-0 m-0">
            <li class="text-lighter mb-2">
              {{ "footer.col-3.row01" | translate }}
            </li>
            <li class="text-lighter mb-2">
              {{ "footer.col-3.row02" | translate }}
            </li>
            <li class="text-lighter mb-2">
              {{ "footer.col-3.row03" | translate }}
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div>
          <div class="d-flex justify-content-between flex-column">
            <div>
              <h2 class="text-light h5">
                {{ "footer.col04.title" | translate }}
              </h2>
              <!-- contact us -->
              <div>
                <p class="text-lighter mb-2">
                  {{ "footer.col04.mobile01" | translate }}
                </p>
                <p class="text-lighter mb-2">
                  {{ "footer.col04.mobile02" | translate }}
                </p>
              </div>
              <p class="text-lighter mb-2">
                {{ "footer.col04.address" | translate }}
              </p>
            </div>
            <div class="d-flex align-items-center gap-3">
              <app-social-media-links />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-lighter text-center py-3">
    <span>{{ "footer.db-copy-rights.title" | translate }}</span>
    &commat;2024
    <a target="_blank" href="https://digitalbondmena.com/en"
      ><img
        src="./assets/images/footer/db.png"
        style="width: 40px"
        alt="digital bond"
    /></a>
    digital bond
  </div>
</footer>
