<div class="row my-5">
  <div class="col-md-4">
    <div class="p-3">
      <h2 class="text-white h4 mb-3">
        {{ aboutUsContent.aboutUsContent.data[0].title | translate }}
      </h2>
      <p class="text-lighter fs-15">
        {{ aboutUsContent.aboutUsContent.data[0].description | translate }}
      </p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="p-3">
      <h2 class="text-white h4 mb-3">
        {{ aboutUsContent.aboutUsContent.data[1].title | translate }}
      </h2>
      <p class="text-lighter fs-15">
        {{ aboutUsContent.aboutUsContent.data[1].description | translate }}
      </p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="p-3">
      <h2 class="text-white h4 mb-3">
        {{ aboutUsContent.aboutUsContent.data[2].title | translate }}
      </h2>
      <p class="text-lighter fs-15">
        {{ aboutUsContent.aboutUsContent.data[2].description | translate }}
      </p>
    </div>
  </div>
</div>
