<section class="text-capitalize">
  <div class="container text-center">
    <header>
      <h2 class="text-light">
        <span class="text-main">our</span> summary projects
      </h2>
      <p class="text-lighter">
        part of our professionally outlined projects
        <span class="d-block"
          >which we worked on with all dilligence,professionalism, and interest
          in every project</span
        >
      </p>
    </header>
    <div class="row g-3">
      <div class="col-md-4">
        <div class="card bg-transparent">
          <img
            class="border-radius-10 w-100"
            src="./assets/images/projects/1.png"
            alt=""
          />
          <div
            class="card-img-overlay w-100 h-100 d-flex justify-content-center align-items-center bg-black bg-opacity-50"
          >
            <h3 class="text-white">art house riyadh show</h3>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card bg-transparent">
          <img
            class="border-radius-10 w-100"
            src="./assets/images/projects/2.png"
            alt=""
          />
          <div
            class="card-img-overlay w-100 h-100 d-flex justify-content-center align-items-center bg-black bg-opacity-50"
          >
            <h3 class="text-white">
              art house riyadh <span class="d-block">show</span>
            </h3>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card bg-transparent">
          <img
            class="border-radius-10 w-100"
            src="./assets/images/projects/3.png"
            alt=""
          />
          <div
            class="card-img-overlay w-100 h-100 d-flex justify-content-center align-items-center bg-black bg-opacity-50"
          >
            <h3 class="text-white">
              blvd world discovery <span class="d-block">area</span>
            </h3>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card bg-transparent">
          <img
            class="border-radius-10 w-100"
            src="./assets/images/projects/4.png"
            alt=""
          />
          <div
            class="card-img-overlay w-100 h-100 d-flex justify-content-center align-items-center bg-black bg-opacity-50"
          >
            <h3 class="text-white">
              jadwi al-basateen <span class="d-block">sales</span>
            </h3>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card bg-transparent">
          <img
            class="border-radius-10 w-100"
            src="./assets/images/projects/5.png"
            alt=""
          />
          <div
            class="card-img-overlay w-100 h-100 d-flex justify-content-center align-items-center bg-black bg-opacity-50"
          >
            <h3 class="text-white">
              art house riyadh <span class="d-block">show</span>
            </h3>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card bg-transparent">
          <img
            class="border-radius-10 w-100"
            src="./assets/images/projects/6.png"
            alt=""
          />
          <div
            class="card-img-overlay w-100 h-100 d-flex justify-content-center align-items-center bg-black bg-opacity-50"
          >
            <h3 class="text-white">
              findining suchi <span class="d-block">restaurant</span>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
