<section class="text-capitalize">
  <div class="container text-center">
    <header>
      <h2 class="text-light">
        <span class="text-main">our</span> summary projects
      </h2>
      <p class="text-lighter">
        part of our professionally outlined projects
        <span class="d-block"
          >which we worked on with all dilligence,professionalism, and interest
          in every project</span
        >
      </p>
    </header>
    <div class="row g-3">
      <div class="col-md-4">
        <div>
          <img
            class="border-radius-10 w-100"
            src="/assets/images/projects/1.png"
            alt=""
          />
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <img
            class="border-radius-10 w-100"
            src="/assets/images/projects/2.png"
            alt=""
          />
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <img
            class="border-radius-10 w-100"
            src="/assets/images/projects/3.png"
            alt=""
          />
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <img
            class="border-radius-10 w-100"
            src="/assets/images/projects/4.png"
            alt=""
          />
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <img
            class="border-radius-10 w-100"
            src="/assets/images/projects/5.png"
            alt=""
          />
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <img
            class="border-radius-10 w-100"
            src="/assets/images/projects/6.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>
